In [1]:
print('hello world')

hello world

# My first python program

$a = \sum_{i=0}^{n}x$

In [1]:
2+2

4

In [4]:
a = 5
print(id(a))
a = '7'
print(id(a))

4303627936
4307455280

In [5]:
l = [1, 2, 3]
print(id(l))
l.append(6)
print(id(l))

4356758272
4356758272

In [6]:
2**5

32

In [14]:
a = 10 ** 1000
a *= 2 
a += 5
a /= 2.5
print(a)

OverflowError: int too large to convert to float

In [19]:
import random as r


print(r.random())
print(r.randint(0, 15))

0.2420767510903158
9

In [26]:
str = 'pe\'r '
str1 = "aspera"
str2 = 'ad'
str3 = 'astra'

str4 = """per' aspera 
ad astra"""

print(str, str1, str2, str3)
print(str4)

pe'r  aspera ad astra
per' aspera
ad astra

In [38]:
age = 25
status = "fine"
print("Jack is {} years old. His status: {}".format(age, status))
print(f"Jack is {age} years old")

#dir(status)

Jack is 25 years old. His status: fine
Jack is 25 years old

In [34]:
help("s".replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [37]:
"1,2,3, 4".split(",")

['1', '2', '3', ' 4']

In [39]:
a = (1, 2)
print(a)

(1, 2)

In [47]:
dir(a)
a, b = 5, 6
print(b, a)

6 5

In [49]:
l = list()
l.append(1)
l.append(2)
l.append(3)
print(l)

[1, 2, 3]

In [50]:
l1 = [1, 2, 3]
print(l1)

[1, 2, 3]

In [51]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [58]:
l = [1, 2, 3, 4, 5]
a = l.pop()
print(a)
print(l)
l.reverse()
print(l)

l.remove(2)
print(l)

print(l.index(1))

5
[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 1]
2

In [62]:
l = list(range(4, 10, 2))
print(l)

[4, 6, 8]

In [63]:
l = [1, '2', 3.4, "wow"]
print(l)

[1, '2', 3.4, 'wow']

In [74]:
d = {'name':'Jack', 'age':'25'}
print(d)
print(d['name'], d['age'])
print('name1' in d)
print(d.get('name1', 'not found'))

{'name': 'Jack', 'age': '25'}
Jack 25
False
not found

In [86]:
def do_magic(a=2, b=4):
    '''
    Make magic
    '''
    c = a + b
    return c

print(do_magic(5, 6))
print(do_magic())

help(do_magic)

11
6
Help on function do_magic in module __main__:

do_magic(a=2, b=4)
    Make magic

In [91]:
a = 11
if 3 < a < 7:
    print('ok')
else:
    print('not ok')
    
if a > 4 and a % 2 == 1:
    print('ok')
else:
    print('not ok')

not ok
ok

In [98]:

for item in range(0, 100, 10):
    print(item ** 2)

0
100
400
900
1600
2500
3600
4900
6400
8100

In [99]:
l = list(range(10, 20))
for i, value in enumerate(l):
    print(i, value )

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19

In [103]:
d = {'name':'Jack', 'age':'25'}

for key, value in d.items():
    print(key, value)
    
for key in d.keys():
    print(key)

name Jack
age 25
name
age

In [127]:
l = [1, 2, 3, 4]
l = [x ** 2 for x in range(100) if x % 3 == 0]
print(l)
print(l[0], l[10])
print(l[-1:10:-3])

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729, 900, 1089, 1296, 1521, 1764, 2025, 2304, 2601, 2916, 3249, 3600, 3969, 4356, 4761, 5184, 5625, 6084, 6561, 7056, 7569, 8100, 8649, 9216, 9801]
0 900
[9801, 8100, 6561, 5184, 3969, 2916, 2025, 1296]

In [132]:
def do_magic(a):
    return a / 2

l1 = list(map(do_magic, l))
print(l1)


l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = l1 + l2
print(l3)

[0.0, 4.5, 18.0, 40.5, 72.0, 112.5, 162.0, 220.5, 288.0, 364.5, 450.0, 544.5, 648.0, 760.5, 882.0, 1012.5, 1152.0, 1300.5, 1458.0, 1624.5, 1800.0, 1984.5, 2178.0, 2380.5, 2592.0, 2812.5, 3042.0, 3280.5, 3528.0, 3784.5, 4050.0, 4324.5, 4608.0, 4900.5]
[1, 2, 3, 4, 5, 6]